<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Big Fernand Burg&eacute;</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="./assets/img/bigFernand_icon.png">
  <!-- Normalize CSS - Same function as a CSS Reset-->
  <link rel="stylesheet" href="./assets/css/normalize.css" />
  <!-- Skeleton CSS -->
  <link rel="stylesheet" href="./assets/css/skeleton.css" />
  <!-- Big Fernand Custom CSS -->
  <link rel="stylesheet" href="./assets/css/bigFernand_style.css" />
  <!-- Font Awesome for Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <!-- Jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
</head>

    <body>
      <div class="container"> <!-- Start Container -->
        <div class="row">
          <div class="twelve_columns logo_region">
            <img src="./assets/img/bigFernand_logo.png" class="logo_img" alt="Big Fernand Logo" />
          </div>
        </div>

        <div class="row">
          <div class="bigFernand_burgers_row">

              <div class="two columns">
                <img src="./assets/img/big-fernand-bartholome-300x300.jpg" alt="Big Fernand Bartholome" class="bigFernand_burgers_img" />
              </div>
              <div class="two columns">           
                <img src="./assets/img/big-fernand-belphegor-300x300.jpg" alt="Big Fernand Belphegor" class="bigFernand_burgers_img" />                     
              </div>
              <div class="two columns">
                <img src="./assets/img/big-fernand-big-fernand-300x300.jpg" alt="Big Fernand Burg&eacute;" class="bigFernand_burgers_img" />                
              </div>
              <div class="two columns">  
                <img src="./assets/img/big-fernand-lucien-300x300.jpg" alt="Big Fernand Lucien" class="bigFernand_burgers_img" />                             
              </div>         
              <div class="two columns">  
                <img src="./assets/img/big-fernand-victor-300x300.jpg" alt="Big Fernand Victor" class="bigFernand_burgers_img" />                              
              </div>
              <div class="two columns">
                <img src="./assets/img/big-fernand-bartholome-300x300.jpg" alt="Big Fernand Bartholome" class="bigFernand_burgers_img" />                
              </div>

          </div>
        </div>                                      
     
      </div> <!-- End Container -->
      
{{{body}}}

    </body>

  </html>

{{!-- 
   * Create the `layouts` directory inside `views` directory.
     * Create the `main.handlebars` file inside `layouts` directory.
     * Setup the `main.handlebars` file so it's able to be used by Handlebars.
     * Setup the `index.handlebars` to have the template that Handlebars can render onto.
     * Create a button in `index.handlebars` that will submit the user input into the database. --}}